.Panel {
    background-color: #806F49;
    padding: 50px;
    margin: 20px auto;
    max-width: 50vw;

    h1 {
        text-transform: capitalize;

        a {
            color: inherit;
            text-decoration: none;
        }
    }
}