.App {
    text-align: center;

    header {
        background-color: #566480;
        color: #61dafb;
        min-height: 2em;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
    }

    a {
        display: inline;
        margin: 2ex;
        color: inherit;
        text-decoration: none;

        &.active {
            color: red;
        }
    }
}